{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

 <!-- Popular movies section -->
     <h3> Popular Movies </h3>
     {{ macro.displayMovieList(popular) }}
     <h3>Upcoming</h3>
     {{ macro.displayMovieList(upcoming) }}
     <h3>Streaming now</h3>
     {{ macro.displayMovieList(now) }}
     <!-- {% for popular_movie in popular %}
         <li> {{ popular_movie.title }}</li>
     {% endfor %}
     <h3>upcoming</h3>
     {% for upcoming_movie in upcoming %}
         <li> {{ upcoming_movie.title }}</li>
     {% endfor %}
     <h3>now</h3>
     {% for now in now %}
         <li> {{ now.title }}</li>
     {% endfor %} --

{% endblock %}